{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>{{total}}</td>
            </tr>
        </tfoot>
        <tbody>

                {% for stock_item in stocks %}
                    <tr>
                        <td>{{stock_item['symbol']}}</td>
                        <td>{{stock_item['shares']}}</td>
                        <td>{{stock_item['price']}}</td>
                        <td>{{stock_item['timestamp']}}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}
